@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-4 blockquote,
#chapter-18 blockquote p{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:letter"] header{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	text-align: initial;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

x
